<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center copyright">
    <p>
        <a href="https://gitlab.com/sambit567/Angular4-Signupform" target="_top">Angular 4 User Registration and Login Example </a>
    </p>
    <p>
            Copyright&copy; <a href="https://www.linkedin.com/in/sambit567" target="_top">Sambit Kumar Padhy</a>
         
    </p>
</div>